body{
	background-image: url("images/background9.jpg");

	background-size: contain ;
	background-color: white;
	position: relative;
	margin:0;
	font-family:cursive;
}
#bar{
	background-color:lightslategray;
	height:4%;
	opacity: 80%;
}
.nav_items{
	margin: 4%;
	padding:2%;
	text-align: center;

}
.nav_items a{
	text-decoration: none;
/*	font-size: 1rem;*/
	color: whitesmoke;

}
.nav_items a:hover{
	color:lightsteelblue;
}
.home_container{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	background-image: url("images/background7.jpg");

	background-size: cover ;
	border-color: whitesmoke;	
	border-radius: 3%;
	height: 60%;
	width: 60%;
	display:flex;
	justify-content:flex-start;
  	align-items:space-around;
   flex-direction:row;

}
.home_container:hover{
	filter: drop-shadow(8px 8px 10px powderblue);
}
#intro{
	margin-top: 5%;
	margin-left: 5%;
}
h2{
	color:lightslategray;
}
hr{
	width: 100%;
	display: block;
	color:lightsteelblue;
}
#text{
	padding-top:5%;
	color: black;
/*	font-size: 1.25em;*/
	width: 80%;

}

#img{
	padding:3%;
	margin-right:3%;
	margin-top: 12%;
	margin-left:2%;
	background-image: url("images/profile.jpg");
	background-size: cover;
	height: 40%;
	width: 50%;
	border-radius: 5%;

}
.notes{
/*	margin:1%; */
	margin-top: 20%;
/*	margin-top:50%;*/
	text-align: center;
	font-size: 0.75rem;
	color:white;

}
.sep{
	margin-top: 10%;
	margin-bottom: 10%;
	width:100%;
}
.edu_container{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	background-image: url("images/background7.jpg");

	background-size: cover ;
	border-color: whitesmoke;	
	border-radius: 3%;
	height: 60%;
	width: 60%;
	display:flex;
	justify-content:flex-start;
  	align-items:space-around;
   flex-direction:column;



}
.edu_container:hover{
	filter: drop-shadow(8px 8px 10px powderblue);

}
.title{
	color:steelblue;
	font-size: 1.15rem;
	font-weight: bold;
	margin-left:5%;
	margin-top: 2%;
}
.details{
	display: flex;
/*	flex: right;*/
	font-size: 1rem;
	margin-left:5%;
	margin-top:1%;
}
.line{
	width:90%;
}
.courses{
	font-size: 1rem;
	margin-left:10%;
	margin-top:1%;
}
.lang{
	font-size: 1rem;
	margin-left:15%;
	margin-top:1%;
}
.work_container{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	background-image: url("images/background7.jpg");
	background-size: cover ;
	background-color: #e2e6e9;
	border-color: whitesmoke;	
	border-radius: 3%;
	height: 98%;
	width: 60%;
	display:flex;
	justify-content:flex-start;
  	align-items:space-around;
   flex-direction:column;
}
.work_container:hover{
	filter: drop-shadow(8px 8px 10px powderblue);

}
#link{
	text-decoration: none;
	width:20%;
	height: 5%;
	display: inline;
	border-color: lightslategray;
	border-radius: 0.25rem;
	background-color: lightslategray;
	color: whitesmoke;
}
@media only screen and (max-width: 600px) {

  #bar {
    height:8%;
  }
  .nav_items a{
  	padding:2%;
  }
  #intro{
  	font-size: 0.75rem;
  }
  h2{
  	font-size:0.75rem;
  }
  #text{
  	font-size: 0.75rem;
  }
  #img{
  	margin-left: 5px;
  	width:1000px;
  }
  .title{
  	font-size: 0.75rem;
  }
  .details{
  	font-size: 0.75rem;
  }
  .courses{
	font-size: 0.75rem;
	}
	.lang{
		font-size: 0.75rem;
	}
	#link{
		font-size: 0.75rem;
		width:50%;
	}
	.notes{
		font-size: 0.55rem;
	}
 
}